ul#legend
    li.oil
        b
        div Oil and gas plays
    li.coal
        b
        div Coal fields
    li.wind
        b
        div Wind resources
    li.solar
        b
        div Solar resources

div#graphic

div.footer Oil and gas data are from the <a href="http://www.eia.gov/maps/layer_info-m.php">EIA</a>. Coal data are from the <a href="https://catalog.data.gov/dataset/coal-fields-of-the-united-states-direct-download">USGS</a>. Wind and solar are data from the <a href="http://www.nrel.gov/gis/data.html">NREL</a>. Offshore energy resources, such as coastal winds, are not shown. Data have been simplified by Quartz for mapping.
