ul#legend
    li.oil
        b
        div Onshore oil and gas plays
    li.coal
        b
        div Coal fields
    li.wind
        b
        div Reliable winds
    li.solar
        b
        div Concentrated sunlight

div#graphic

div.footer.left Quartz | qz.com
div.footer.right Data: <a href="http://www.eia.gov/maps/layer_info-m.php">EIA</a>, <a href="http://www.nrel.gov/gis/data.html">NREL</a>, and <a href="https://catalog.data.gov/dataset/coal-fields-of-the-united-states-direct-download">USGS</a>. Offshore resources are not shown. Data have been simplified for mapping.
